__pycache__/
.vscode
.idea
env/
startup/PID_DIR/*
.DS_Store
*.log
web/.idea
twitter-geo.dump
allCountries.txt
twitter-with-geonames.dump
twitter-with-preprocessed.dump
twitter-before-geoname-api-identification.dump
