{% block content %}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">twitter geolocater</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/statistics">Aggregated data report</a></li>
            <li><a href="/search">Search in tables</a></li>
            <li><a href="#">Calculate scores</a></li>
            <li><a href="/animation_map">View map with timeline</a></li>
            <li><a href="/static_map">View map</a></li>
        </ul>
    </div>
</nav>

{% endblock %}